<h1>New tip</h1>

<form id="new-tip" name="tip">
  <input type="hidden" name="lat" id="lat" value="<%= lat %>" >
  <input type="hidden" name="long" id="long" value="<%= long %>" >
  <input type="hidden" name="venue_name" id="venue_name" value="<%= venue %>" >
  <input type="hidden" name="foursquare_id" id="foursquare_id" value="<%= venue %>" >

  <label>Venue:</label>
  <div id="venue-dropdown"></div>

  <label>Tip:</label>
  <textarea name="text" id="text"><%= text %></textarea>

  <div class="actions">
    <input type="submit" value="Create Tip" />
  </div>
</form>

<a href="#/index">Back</a>
