<h2><%= venue %></h2>
<div class="tipLink"><a href="<%= url %>" target="_new"><img src="https://developer.foursquare.com/img/poweredByFoursquare/poweredby_16x16.png"/></a></div>
<div class="clear"></div>
<h4><%= location.address %>, <%= location.city %> <%= location.state %></h4>
<div class='tip-text'><%= text %></div>
